.title{
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    color: $title;
   
}
.subtitle{
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: $main-color;
}