.works{
    margin-top: 70px;
    margin-bottom: 412px;
    width: 100%;
    height: 490px;
    background: linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%), #C4C4C4;
    &__upper{
        padding-top: 70px;
        display: flex;
        justify-content: space-between;
    }
    &__title{
        color: #fff;
        text-align: left;
    }
    &__link{
        width: 200px;
        height: 32px;
        border-radius: 30px;
        background-color: #4985FF;
        color: #fff;
        text-align: center;
        padding-top: 13px;
        text-decoration: none;
    }
    &__wrapper{
        margin-top: 70px;
    }
    &__wrapper{
        display: flex;
        justify-content: space-between;
    }
    &__item{
        min-height: 540px;
        img{
           border-radius:10px; 
        }
    }
    &__itemtitle{
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        span{
            color: #4985FF;
        }
    }
    &__descr{
        display: none;
        &_active{
            width: 350px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 25px;
            color: #999999;
        }
    }
    &__btn{
        margin-top: 30px;
        border: none;
        background-color: #fff;
        font-size: 16px;
        line-height: 20px;
        text-decoration-line: underline;
        color: #4985FF;
        outline: none;
        cursor: pointer;
    }
}