@import 'base/variables';
@import 'base/button';
@import 'base/title';




@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;0,800;0,900;1,600;1,700;1,800;1,900&display=swap');


body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat' , sans-serif;
}

.container{
    width: 1110px;
    margin: 0 auto;
}


@import 'blocks/footer';
@import 'blocks/aboutUs';
@import 'blocks/standart';
@import 'blocks/works';
@import 'blocks/projects';